fastapi
uvicorn[standard]
psycopg[binary]
psycopg-pool
pgvector
openai
requests
langchain
langchain-community
langchain-core
langchain-openai
langchain-postgres
langchain-text-splitters
markitdown[all]
jq
